<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1> Userlist</h1>

	<a href="/home">Back</a> | 
	<a href="/user/create">Add new Employee</a>  |
	<a href="/logout">logout</a>  

	<br>

	<table border="1">
		<tr>
			<td>Serial</td>
			<td>Employee Name</td>
			<td>Company Name</td>
			<td>Contact</td>
			<td>Username</td>
		</tr>
		
		

		<% users.forEach( function(employee,i){ %>
			
			<tr>
				<td><%= i+1 %></td>
				<td><%= employee.ename %></td>
				<td><%= employee.cname %></td>
				<td><%= employee.contact %></td>
				<td><%= employee.username %></td>
				<td>
					<a href="/user/edit?jobid=<%= employee.username %>">Edit</a> 
					<a href="/user/delete?jobid=<%= employee.username %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>