<!DOCTYPE html>
<html>
<head>
	<title>Purchase History</title>
</head>
<body>
	<h1> Purchase History</h1>

	<br>
	<a href="/ahome">Back</a> ||  <a href="/logout">Log out</a> 

	<table border="1">
		<tr>
            <td>Serial</td>
			<td>Username</td>
			<td>Id</td>
			<td>Title</td>
			<td>Category</td>
			<td>Quantity</td>
            <td>Amount</td>
		</tr>
		
		

		<% users.forEach( function(product,i){ %>
			
			<tr>
				<td><%= product.serial %></td>
				<td><%= product.username %></td>
				<td><%= product.id %></td>
				<td><%= product.title %></td>
				<td><%= product.category %></td>
                <td><%= product.quantity %></td>
                <td><%= product.totalAmount	%></td>
                
				
				
	
			</tr>

		<%
			}); 
		%>

	</table>
	<a href="/ahome">Back</a> || <a href="/logout">Log out</a></a>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
/*$('#price, #quantity').on('input',function(){
    var price = parseFloat($('#price').val()) || 0;
    var quantity = parseFloat($('#quantity').val()) || 0;

    $('#amount').val(price * quantity);    
});*/
/*$(document).ready(function(){
	$("#cart[i]").click(function(){
		if($("#quantity").val()===''){
			alert('Quntity fill required');
		}
		else{
			alert('OK');
		}

	});

});*/
</script>
</html>