<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1> Product List</h1>

	<br>

	<table border="1">
		<tr>
			<td>Id</td>
			<td>Title</td>
			<td>Description</td>
			<td>Image</td>
            <td>Size</td>
            <td>Category</td>
            <td>Type</td>
		</tr>
		
		

		<% users.forEach( function(product){ %>
			
			<tr>
				<td><%= product.id %></td>
				<td><%= product.title %></td>
				<td><%= product.description %></td>
				<td><img src="../../assets/images/<%= product.image %>"></td>
                <td><%= product.size %></td>
                <td><%= product.category %></td>
                <td><%= product.type %></td>
				<td>
				<a>Edit</a>
				<a>Delete</a>	
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>